.imgHome {
  display: flex;
  width: 100%;
  height: 100%;
  .__container_slider {
    display: block;
    width: 81%;
    height: auto;
    position: relative;
    margin: auto;
    border: 1px solid transparent;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .__mobile_video {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .__container_slider {
    display: none !important;
  }
  .__mobile_video {
    display: block !important;
  }
}
