.topToBtn {
  display: flex;
  position: relative;
  .__icon_position {
    position: fixed;
    bottom: 79px;
    right: 10px;
    z-index: 20;
    img {
      background: rgba(255, 255, 255, 0.75);
      border-radius: 10%;
      border: 2px solid #fff;
      height: 22px;
      width: 22px;
      cursor: pointer;
      animation: movebtn 3s alternate ease infinite;
      &:hover {
        background: grey;
        border: 2px solid grey;
      }
    }
  }
}
@keyframes movebtn {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-3px);
  }
}
