.topToBtn {
  position: relative;
  bottom: 40px;
  right: 40px;
  .__icon_position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
    // position: fixed;
    // // bottom: 135px;
    // z-index: 76;
    // right: 0;
    img {
      background: rgba(255, 255, 255, 0.75);
      border-radius: 10%;
      border: 2px solid #fff;
      height: 40px;
      cursor: pointer;
      animation: movebtn 3s alternate ease infinite;
      // transition: all 0.5s ease-in-out;
      &:hover {
        // animation: none;
        background: grey;
        border: 2px solid grey;
      }
    }
  }
}
@keyframes movebtn {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-3px);
  }
  // 0% {
  //   transform: translateY(0px);
  // }
  // 25% {
  //   transform: translateY(20px);
  // }
  // 50% {
  //   transform: translateY(0px);
  // }
  // 75% {
  //   transform: translateY(-20px);
  // }
  // 100% {
  //   transform: translateY(0px);
  // }
}
