.topToBtn {
  position: relative;
  .__icon_position {
    position: fixed;
    bottom: 176px;
    z-index: 20;
    left: 50%;
    img {
      background: #fff;
      background: rgba(255, 255, 255, 0.75);
      border-radius: 10%;
      border: 2px solid #fff;
      height: 50px;
      width: 50px;
      z-index: 2;
      cursor: pointer;
      animation: movebtn 3s ease-in-out infinite;
      transition: all 0.5s ease-in-out;
      &:hover {
        animation: none;
        background: grey;
        border: 2px solid grey;
      }
    }
  }
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
