.gif {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  .__container {
    top: 9%;
    position: absolute;
    background-color: #000;
    img {
      width: 100%;
    }
  }
}
