@import "../../style/scss-variables";

.welcome {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  .__icons {
    position: fixed;
    display: flex;
    z-index: 100;
    right: 30px;
    top: 8rem;

    ul {
      display: flex;
      li {
        padding: 4px;
        list-style-type: none;
        img {
          width: 18px;
        }
      }
    }
  }
}
// ############## RESPONSIVE  ###############
//Desktop-large(pour les très grands écrans)
@media (min-width: 1900px) {
  .welcome {
    .__icons {
      right: 25px;
      top: 9rem;
      // border: 3px solid red;
    }
  }
}
// Tablet
@media (min-width: 960px) and(max-width:1900px) {
  .welcome {
    .__icons {
      right: 7px;
      top: 9rem;
      // border: 3px solid green;
    }
  }
}
// Tablet-Small
@media (max-width: 501px) {
  .welcome {
    .__icons {
      // border: 3px solid turquoise;
      right: 11px;
      top: 8rem;
    }
  }
}
//Tablet-Medium
@media (max-width: 1200px) and (min-width: 650px) {
  .welcome {
    .__icons {
      // border: 3px solid pink;
      right: 25px;
      top: 8rem;
    }
  }
}
//Tablet-Large
@media (max-width: 850px) and (min-width: 750px) {
  .welcome {
    .__icons {
      // border: 3px solid orangered;
      right: 7px;
      top: 9rem;
    }
  }
}
// Mobile
@media (min-width: 500px) {
  .welcome {
    .__icons {
      // border: 3px solid violet;
      right: 12px;
      top: 8rem;
    }
  }
}
//Mobile-Medium
@media (max-width: 500px) and (min-width: 400px) {
  .welcome {
    .__icons {
      // border: 3px solid blue;
      right: 25px;
      top: 7.5rem;
    }
  }
}
//Mobile-Small
@media (max-width: 501px) and (min-width: 320px) {
  .welcome {
    .__icons {
      // border: 3px solid yellow;
      right: 7px;
      top: 8rem;
    }
  }
}
