@import "../../style/scss-variables";

.welcome {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  .__icons {
    position: fixed;
    display: flex;
    // background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    z-index: 100;
    right: 30px;
    top: 11rem;

    ul {
      display: flex;
      li {
        padding: 4px;
        list-style-type: none;
        img {
          width: 20px;
        }
      }
    }
  }
}
