.welcome {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  .__icons {
    position: fixed;
    display: flex;
    background: #fff;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    z-index: 100;
    right: 44px;
    top: 106px;

    ul {
      display: flex;
      li {
        padding: 10px;
        list-style-type: none;

        img {
          width: 44px;
        }
      }
    }
  }
}
