.welcomeSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  //   border: 2px solid blue;
  width: 62.5rem;
  margin: 0 auto;
  .__mainImg {
    transition: all 500ms;
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .__actions {
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    justify-content: space-between;
    button {
      background: #000;
      border: none;
      padding: 5px 10px 10px 10px;
      margin: 5px;
      border-radius: 15px;
      cursor: pointer;
    }
  }
  .thumbnail {
    img {
      width: 50px;
      border: 2px solid #000;
      margin: 0 5px;
    }
    .active {
      border: 2px solid blue;
    }
  }
}
