@import "../../style/scss-variables";

.icons_contacts {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;

  .__icons {
    position: fixed;
    display: flex;
    z-index: 100;
    top: 8rem;
    right: 20px;
    ul {
      display: flex;
      li {
        padding: 4px;
        list-style-type: none;
        img {
          width: 17px;
          height: auto;
        }
      }
    }
  }
}
// ############## RESPONSIVE  ###############
@media (min-width: 768px) and (max-width: 1900px) {
  .icons_contacts {
    .__icons {
      right: 20px;
    }
  }
}

@media (max-width: 500px) and (min-width: 320px) {
  .icons_contacts {
    .__icons {
      right: 20px;
      top: 151px;
    }
  }
}
