@import "../../style/scss-variables";

.icons_contacts {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  .__icons {
    position: fixed;
    display: flex;
    z-index: 100;
    right: 35px;
    top: 8rem;

    ul {
      display: flex;
      li {
        padding: 4px;
        list-style-type: none;
        img {
          width: 17px;
        }
      }
    }
  }
}
// ############## RESPONSIVE  ###############
// Desktop-Large
@media (min-width: 1900px) {
  .icons_contacts {
    .__icons {
      right: 20px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1900px) {
  .icons_contacts {
    .__icons {
      right: 20px;
    }
  }
}

@media (max-width: 768px) {
  .icons_contacts {
    .__icons {
      right: 20px;
    }
  }
}

// Moble
@media (max-width: 501px) {
  .icons_contacts {
    .__icons {
      right: 20px;
    }
  }
}

// Mobile-Medium
@media (max-width: 500px) and (min-width: 400px) {
  .icons_contacts {
    .__icons {
      right: 20px;
    }
  }
}

// Mobile-Small
@media (max-width: 501px) and (min-width: 320px) {
  .icons_contacts {
    .__icons {
      right: 20px;
    }
  }
}
