nav {
  display: inline-flex;
  border: 2px solid blue;
}

.navLinks a {
  text-decoration: none;
  font-size: 18px;
  color: #8e8ea8;
  opacity: 0.8;
  padding-top: 36px;
  margin-right: 20px;
  transition: 0.2s;
}

.navLinks a:hover {
  color: #fd2d01;
}
