@import "../../style/_mixins";
@import "../../style/scss-variables.scss";

.main {
  display: flex;
  flex-grow: 1;
  background-color: transparent;
  justify-content: center;
  .__container {
    margin: 0 auto;
    // max-width: 70%;
    max-width: 800px;
    .__welcome {
      display: flex;
      flex-direction: column;
      span {
        display: flex;
        padding-top: 3rem;
        justify-content: flex-end;
        .__logo {
          display: flex;
          width: 20%;
          margin-right: 30%;
        }
      }

      ul {
        display: flex;
        justify-content: flex-end;
        width: 10%;
        align-self: flex-end;
        li {
          padding: 3px;
          list-style-type: none;
        }
      }
      .__banner {
        width: 100%;
        display: flex;
        max-height: 25.5rem;
        justify-content: center;
        .__videoBloc {
          margin-top: 15px;
          .__video {
            max-height: 100%;
            max-width: 100%;
            border-radius: 10px;
            border: 3px solid blue;
            display: block;
            margin: auto;
          }
        }
      }
    }
  }
  // section {
  //   // padding-top: 115px;
  //   // border: 2px solid red;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   min-height: 100vh;
  //   min-height: -moz-available;
  //   min-height: -webkit-fill-available;
  //   min-height: fill-available;

  .sections {
    // display: grid;
    // place-content: center;
    // padding-top: 115px;
    border: 5px solid blue;
    display: flex;
    margin: 0 auto;
    // height: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    // min-height: 100vh;
    //   min-height: -moz-available;
    //   min-height: -webkit-fill-available;
    //   min-height: fill-available;
  }
}
//}
@media only screen and (max-width: 600px) {
  main {
    padding-top: 7px;
    background-color: yellow;
    .__welcome {
      border: 3px solid pink;
    }
    span {
      padding-bottom: 10px;
      justify-content: center;
      .__logo {
        padding-bottom: 12px;
        display: flex;
        min-width: 7rem;
        border: 2px solid blue;
        transform: translateX(34%);
      }
      ul {
        align-self: flex-end;
        li {
          border: 2px solid red;
          list-style-type: none;

          img {
            width: 14px;
          }
        }
      }
    }
  }

  section {
    max-width: 270px;
    background-color: lightblue;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }
}
