.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 5%;
  .__image {
    max-width: 60rem;
    height: auto;

    img {
      object-fit: cover;
      max-width: 100%;
      height: auto;
    }
  }
  .__slide {
    opacity: 0;
    &.__active {
      opacity: 1;
      transition-duration: 1s;
      transform: scale(1.08);
    }
  }
  .__arrow_left {
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 10;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    img {
      width: 5rem;
    }
  }
  .__arrow_right {
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    img {
      width: 5rem;
    }
  }
}
