// link unitaire
.link {
  display: flex;
  align-items: center;
  padding-bottom: 7px;
  a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    padding: 4px;
    &:hover {
      opacity: 0.75;
    }
  }
}

details {
  color: #000;
  padding: 0 0px 7px 0px;
  flex-wrap: wrap;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  z-index: 777;

  summary {
    display: block;
    font-size: 17px;
    list-style-type: none;
    &::-webkit-details-marker {
      display: none;
    }
    &:hover {
      opacity: 0.75;
    }
  }

  ul {
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    position: absolute;
    font-size: 16px;
    list-style-type: none;
    li {
      padding: 5px 7px 5px 7px;
      width: 100%;
      a {
        display: block;
        color: #000;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
//############## RESPONSIVE  ###############
@media screen and (max-width: 960px) {
  details {
    .link {
      padding-left: 6px;
    }
    summary {
      padding: 5px 0 7px 7px;
      list-style-type: none;

      &::-webkit-details-marker {
        display: none;
      }
    }
  }
}

// dropdown unitaire
// /* Pour personnaliser l'icon de la balise details
// details > summary {
//   list-style-type: "fermé";
// }
// details[open] > summary {
//   list-style-type: "ouvert";
// }
//
