// link unitaire
.link {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 9px;
  a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    &:hover {
      opacity: 0.75;
      transition: 0.5s;
    }
  }
}

.dropdown {
  color: #000;
  padding: 0 10px 10px 10px;
  flex-wrap: wrap;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  z-index: 777;
  summary {
    display: block;
    display: block;
    margin-top: 10px;
    font-size: 19px;
    &:hover {
      opacity: 0.75;
    }
  }

  ul {
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    font-size: 17px;
    list-style-type: none;
    li {
      padding: 5px 7px 0 7px;
      a {
        display: block;
        color: #000;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
// ############## RESPONSIVE  ###############
@media screen and (max-width: 1440px) {
  .link {
    height: 33px;
    // padding: 10px;
    // border: 3px solid green;
    a {
      display: block;
      width: 100%;
      // border: 3px solid black;
      font-size: 18px;
    }
  }
  .dropdown {
    // border: 3px solid blue;
    // padding: 0;
    font-size: 20px;
    color: #000;
    summary {
      // border: 3px solid black;
      margin-left: 4px;
      display: block;
      font-size: 17px;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

@media (min-width: 1900px) {
  .link {
    height: 33px;
    // padding: 10px;
    // border: 3px solid blue;
    a {
      // border: 3px solid greenyellow;
      font-size: 28px;
    }
  }
  .dropdown {
    summary {
      // border: 3px solid pink;
      display: block;
      font-size: 30px;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
// dropdown unitaire

// /* Pour personnaliser l'icon de la balise details
// details > summary {
//   list-style-type: "fermé";
// }

// details[open] > summary {
//   list-style-type: "ouvert";
// }
//
