.translate_txt {
  display: flex;
  width: auto;
  height: auto;
  right: 26px;
  position: fixed;
  z-index: 999;
  flex-direction: column;
  top: 160px;

  .__lang_btn {
    padding: 5px 6px;
    text-transform: uppercase;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    border: none;
    &:hover {
      opacity: 0.4;
    }
  }
}

@media only screen and (max-width: 500px) {
  .translate_txt {
    top: 180px;
  }
}
