@import "../../style/_mixins";

.about {
  display: flex;
  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 40rem;
    margin-top: 5rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    @include blocsTxt(100%, 40%, 20%);
    &__logo {
      display: flex;
      max-width: 50%;
      max-height: 100%;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  span {
    display: block;
    position: absolute;
    top: 88%;
    left: 80%;
  }
}
