@import "../../style/_mixins";

.about {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;

  .__container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    display: block;

    .__img {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 28%;
      }
    }

    .__about_content {
      @include blocsTxt(100%, 40%, 20%);
      flex-direction: column;
      padding: 20px 20px 0 20px;

      .__logo {
        display: flex;
        max-width: 12rem;
        height: auto;
        align-self: center;
        img {
          justify-content: center;
          width: 100%;
          height: auto;
          object-fit: cover;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .__text {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding: 23px;
        margin-top: 31px;
        p {
          position: relative;
          width: 100%;
          overflow: hidden;
          font-size: 18px;
          line-height: 22px;
          white-space: pre-wrap;
        }
      }
      .__text_mobile {
        display: none;
        position: relative;
        width: 100%;
        height: auto;
        p {
          position: relative;
          width: 100%;
          overflow: hidden;
          font-size: 16px;
          line-height: 24px;
          white-space: pre-wrap;
        }
      }
    }
  }
}

// ############## RESPONSIVE  ###############
@media (min-width: 768px) and (max-width: 1900px) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 39% 28%;
        }
      }
      .__about_content {
        .__logo {
          width: 8rem;
        }
        .__text {
          display: block !important;
        }
        .__text_mobile {
          display: none !important;

          margin-top: 23px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 43% 0;
        }
      }
      .__about_content {
        @include blocsTxt(100%, 45%, 22%);
        .__logo {
          width: 7rem;
        }
      }
      .__text {
        display: none !important;
      }
      .__text_mobile {
        display: block !important;

        margin-top: 23px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 0 31%;
        }
      }
      .__about_content {
        @include blocsTxt(100%, 44%, 22%);
        padding: 8px;
        .__logo {
          width: 8rem;
        }
        .__text {
          display: none !important;
        }
        .__text_mobile {
          display: block !important;

          margin-top: 23px;
        }
      }
    }
  }
}

@media (max-width: 375px) and (min-width: 360px) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 45% 0;
        }
      }
      .__about_content {
        @include blocsTxt(100%, 55%, 27%);
        .__logo {
          width: 5rem;
        }
        .__text {
          display: none !important;
        }
        .__text_mobile {
          display: block !important;

          margin-top: 20px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 360px) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 39% 0;
        }
      }
      .__about_content {
        @include blocsTxt(72%, 100%, 50%);
        padding: 8px;
        .__logo {
          width: 6rem;
          margin-top: 18px;
        }
        .__text {
          display: none;
        }
        .__text_mobile {
          display: block;
          margin-top: 23px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 321px) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          object-position: 45% 0;
        }
      }
      .__about_content {
        @include blocsTxt(90%, 100%, 50%);
        padding: 8px;
        .__logo {
          width: 6rem;

          margin-top: 18px;
        }
        .__text {
          display: none;
        }
        .__text_mobile {
          display: block;

          margin-top: 23px;
        }
      }
    }
  }
}
