@import "../../style/_mixins";

.about {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  .__container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    display: block;
    .__img {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100% 36%;
      }
    }

    .__about_content {
      @include blocsTxt(100%, 40%, 20%);
      max-width: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      .__logo {
        display: flex;
        width: 37%;
        align-self: center;
        img {
          justify-content: center;
          max-width: 100%;
          object-fit: cover;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .__text {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding: 23px;
        p {
          position: relative;
          width: 100%;
          overflow: hidden;
          font-size: 18px;
          line-height: 22px;
          white-space: pre-wrap;
        }
      }
      .__text_mobile {
        display: none;
        position: relative;
        width: 100%;
        height: auto;
        margin: auto;
        margin-right: 20px;
        p {
          position: relative;
          width: 100%;
          overflow: hidden;
          font-size: 16px;
          line-height: 24px;
          white-space: pre-wrap;
        }
      }
    }
  }
}
//////// Responsive /////////
@media only screen and (max-width: 768px) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 53% 36%;
        }
      }
      .__about_content {
        @include blocsTxt(52%, 100%, 50%);
        top: 67%;
        flex-direction: row;
        .__logo {
          width: 7rem;
          align-self: center;
          padding-right: 2px;
        }
        .__text {
          display: none;
        }
        .__text_mobile {
          display: block;
        }
      }
    }
  }
}

//////// Responsive /////////
@media only screen and (max-width: 820px) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 53% 100%;
        }
      }
      .__text {
        display: block;
      }
      .__text_mobile {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 851px) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 53% 100%;
        }
      }
      .__text {
        display: block;
      }
      .__text_mobile {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 861px) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 53% 100%;
        }
      }
      .__text {
        display: block;
      }
      .__text_mobile {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 869px) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 53% 100%;
        }
      }
      .__text {
        display: block;
      }
      .__text_mobile {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .about {
    .__container {
      .__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 53% 100%;
        }
      }
      .__text {
        display: block;
      }
      .__text_mobile {
        display: none;
      }
    }
  }
}
