.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;

  .__logo {
    max-height: 7rem;
  }

  .__nav_menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    margin-right: 15px;
  }

  .__nav_mobile_menu {
    display: none !important;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin: 25px;
    details {
      transition: 0s;
      .__summ {
        list-style-type: " "; //delete arrow
        text-align: end;
        img {
          filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(70deg)
            brightness(99%) contrast(107%);
        }
      }
      div {
        display: block;
        width: 100vw;
        margin-top: 55px;
        z-index: 100;
        opacity: 0.9;
        position: relative;
        right: -25px;
        background: linear-gradient(
          90deg,
          rgb(28, 27, 27) 0%,
          rgb(26, 23, 23) 100%
        );
        transition-delay: 0s;
      }
    }
  }
  //fa-bars
  .menu_icon {
    display: none;
    color: #fff;
  }
}

// ############## RESPONSIVE  ###############

@media screen and (max-width: 960px) {
  .navbar {
    .__nav_menu {
      display: none !important;
    }

    .__nav_mobile_menu {
      display: block !important;
      // summary {
      //   list-style-type: " "; //delete arrow
      //   text-align: start;
      //   border: 2px solid red;
      // }
      details {
        // border: 2px solid white;
        display: flex;

        // .__summ_products {
        //   border: 2px solid blue;
        // }
      }

      // div {
      //   border: 2px solid yellow;
      // }
    }

    ul {
      display: flex;
      text-align: start;
      position: relative;
      align-self: flex-start;
      // border: 2px solid red;
      align-items: center;
    }
  }
}
