@import "../../style/css-variables";

.navbar {
  display: block;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;

  .__logo {
    height: 85px;
  }

  .__nav_menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    grid-gap: 15px;
    margin-right: 15px;
  }

  .__nav_mobile_menu {
    display: none !important;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin: 25px;
    display: block;

    details {
      summary {
        list-style-type: ""; //delete arrow
        text-align: end;

        img {
          filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(70deg)
            brightness(99%) contrast(107%);
        }
      }
      div {
        margin-top: 10px;
        z-index: 100;
        opacity: 0.9;
        position: absolute;
        right: -25px;
        width: 100vw;
        background: linear-gradient(
          90deg,
          rgb(28, 27, 27) 0%,
          rgb(26, 23, 23) 100%
        );
      }
    }
  }

  //fa-bars
  .menu_icon {
    display: none;
    color: #fff;
  }
}

// ############## RESPONSIVE  ###############

@media screen and (max-width: 960px) {
  .navbar {
    .__nav_menu {
      display: none !important;
    }

    .__nav_mobile_menu {
      display: block !important;
    }
  }
}

/*
@media screen and (max-width: 960px) {
  .navbar {
    position: relative;

    .nav_menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      &__active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    }
    .menu_icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    .nav_links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
      &:hover {
        background-color: #1888ff;
        border-radius: 0;
      }
    }

    .navbar__logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  }
}

*/
