@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  // background-color: aqua;
}

@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin blocTxtPresentation($height, $width, $left) {
  height: $height;
  width: $width;
  left: $left;
  // height: 100%;
  // width: 40%;
  // left: 20%;
  display: block;
  text-align: center;
  position: absolute;
  border: 2px solid red;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  right: 0;
  color: #f1f1f1;
  padding: 20px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
