@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin mobile {
  @media (max-width: 350px) {
    flex-direction: column;
    flex-wrap: wrap;
    @content;
  }
}

@mixin blocsTxt($height, $width, $left) {
  height: $height;
  width: $width;
  left: $left;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  right: 0;

  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.75);
}
