.headband {
  display: block;
  border: 2px solid blueviolet;
  overflow-x: hidden;

  & h1 {
    color: blueviolet;
    animation: 3s linear 1s infinite running slidein;
  }
}
@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
