.headband {
  display: block;
  border: 2px solid #000000;
  overflow-x: hidden;
  // margin-bottom: 14px;
  width: 100%;

  h1 {
    font-weight: 100;
    animation: slidein linear 7s infinite running;
  }
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
