@import "../../style/scss-variables";

.footer {
  display: flex;
  bottom: 0;
  width: 100%;
  max-height: 79px;
  height: 100%;
  .__container {
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: $light-grey;
    background: linear-gradient(90deg, #1c1b1b 0%, #1a1717 100%);
    .__logo {
      max-height: 4rem;
    }
    .__copyright {
      display: flex;
      flex-wrap: wrap;
      color: $light-grey;
      font-size: 10px;
      width: 100%;
    }
    ul {
      display: flex;
      align-items: center;
      text-decoration: none;
      list-style-type: none;

      li {
        padding: 10px;
        font-size: small;
        a {
          color: #fff;
          &:hover {
            color: $light-grey;
          }
        }
      }
    }
  }
}
