@import "../../style/scss-variables";

.modal_wrapper {
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Center the modal content */
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.modal_content {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 80%; /* Specify a maximum width for the content */
}

.modal_content button {
  outline: 0;
  display: inline-block;
  padding: 9px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 12px;
  color: #000;
  border: 2px solid #000;
  margin-top: 11px;
  &:hover {
    background-color: $light-grey;
    color: #000;
  }
}
