@import "./style/_mixins";
@import "./style/css-variables";

body {
  margin: 0px 45px;
  padding: 0;
  height: 100vh;
  line-height: 1;
  background-color: var(--color-white);
  @include mobile {
    flex-direction: column;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
}
