@import "./style/_mixins";
@import "./style/css-variables";
@import "./style/fonts.scss";
@import "./style/scss-variables.scss";

body {
  border: 3px solid green;
  // padding-top: 112px;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1;
  font-family: $roboto_font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-white;
  // background-color: var(--color-white);
  @include mobile {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  list-style-type: none;
}
