@import "../../style/scss-variables";

button {
  &.__btnPosition {
    background-color: transparent;
    cursor: pointer;
    display: block;
    position: absolute;
    padding: 12px;
    border: 2px solid #000;
    left: 12%;
    font-weight: bold;
    border-radius: 8px;
    bottom: 185px;
  }
  &:hover {
    background-color: $light-grey;
    color: #000;
  }
}

.__googlePin {
  color: red;
  cursor: pointer;
}

.__location_icon {
  width: 22px;
  filter: invert(14%) sepia(57%) saturate(7246%) hue-rotate(358deg)
    brightness(105%) contrast(120%);
}

// button {
//   &.__btn_modale {
//     background-color: transparent;
//     cursor: pointer;
//     display: block;
//     position: absolute;
//     padding: 12px;
//     text-align: center;
//     border: 2px solid #000;
//     margin: 0 auto;
//     transform: translate(-50%, -50%);
//     font-weight: bold;
//     z-index: 999;
//     text-align: center;
//     top: 118px;
//     left: 15%;
//     border-radius: 8px;
//     color: #000;
//     &:hover {
//       background-color: $light-grey;
//       color: #000;
//     }
//   }
// }

// ############## RESPONSIVE  ###############
@media (max-width: 960px) {
  button {
    &.__btnPosition {
      padding: 7px;
      top: 29%;
      left: 84%;
      font-size: 9px;
      color: #000;
    }
  }
  .__location_icon {
    width: 18px;
    filter: invert(14%) sepia(57%) saturate(7246%) hue-rotate(358deg)
      brightness(105%) contrast(120%);
  }
  // button {
  //   &.__btn_modale {
  //     cursor: pointer;
  //     display: block;
  //     position: absolute;
  //     padding: 6px;
  //     text-align: center;
  //     border: 2px solid #000;
  //     margin: 0 auto;
  //     transform: translate(-50%, -50%);
  //     font-weight: bold;
  //     z-index: 999;
  //     text-align: center;
  //     top: 8%;
  //     left: 17%;
  //     border-radius: 8px;
  //   }
  // }
}
