@import "../../style/scss-variables";
.__btn_box {
  display: flex;
  position: relative;
  width: 100%;
  height: 5rem;
  border: 4px solid green;

  button {
    &.__btnPosition {
      display: flex;
      cursor: pointer;
      width: 28px;
      height: 33px;
      left: 129px;
      position: absolute;
      top: 50%;
      right: 22px;
      transform: translateY(-50%);
      img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 21px;
      }
    }
    &:hover {
      background-color: $light-grey;
    }
  }
  button {
    &.__btn_googlemap {
      justify-content: center;
      display: flex;
      padding: 4px;
      cursor: pointer;
      background-color: transparent;
      font-size: 14px;
      border: 1px solid #000;
      font-weight: bold;
      position: absolute;
      top: 50%;
      right: 22px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      &:hover {
        background-color: $light-grey;
        color: #000;
      }
    }
  }
  p {
    display: flex;
    width: 8rem;
    padding: 7px;
    height: 33px;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22px;
    font-weight: bold;
  }
}

.__googlePin {
  color: #000;
  cursor: pointer;
}

.__location_icon {
  width: 22px;
  filter: invert(14%) sepia(57%) saturate(7246%) hue-rotate(358deg)
    brightness(105%) contrast(120%);
}

// ############## RESPONSIVE  ###############
// @media (max-width: 960px) {
//   button {
//     &.__btnPosition {
//       padding: 7px;
//       top: 29%;
//       left: 84%;
//       font-size: 9px;
//       color: #000;
//     }
//   }
//   .__location_icon {
//     width: 18px;
//     filter: invert(14%) sepia(57%) saturate(7246%) hue-rotate(358deg)
//       brightness(105%) contrast(120%);
//   }
// }
