@import "../../style/scss-variables";
button {
  &.__btnPosition {
    padding: 26px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #fff;
    color: #000;
    display: block;
    position: absolute;
    padding: 2px;
    text-align: center;
    background-color: red;
    font-size: 10px;
    color: #fff;
    border: 2px solid #000;
    margin: 0 auto;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &:hover {
      background-color: $light-grey;
      color: #000;
    }
  }
}

.__googlePin {
  color: red;
}

.__location_icon {
  width: 22px;
  filter: invert(14%) sepia(57%) saturate(7246%) hue-rotate(358deg)
    brightness(105%) contrast(120%);
}
