@import "../../style/_mixins";

.blocs {
  display: flex;
  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 35rem;
    margin-top: 5rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    @include blocsTxt(auto, 100%, 50%);
    &__logo {
      display: flex;
      max-width: 15%;
      max-height: 100%;
      border: 3px solid yellow;
    }
  }
}
