@import "../../style/_mixins";

.blocs {
  display: flex;
  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 35rem;
    margin-top: 5rem;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    @include blocsTxt(auto, 100%, 50%);
    position: absolute;
    &__box {
      display: flex;
      border: 5px solid darkblue;
      padding: 20px;
      justify-content: space-between;

      p {
        display: block;
        border: 2px solid red;
        width: 80%;
        color: black;
        overflow: hidden;
      }
    }
    &__logo {
      display: flex;
      border: 3px solid yellow;
      max-width: 15%;
      max-height: 100%;
    }
  }
}
