@import "../../style/_mixins";

.blocs {
  display: flex;
  &__content {
    justify-content: flex-end;
    align-items: flex-end;
    flex-basis: 100%;
    height: 30rem;
    margin-top: 5rem;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    @include blocsTxt(auto, 100%, 50%);
    &__box {
      display: flex;
      padding: 20px;
      // justify-content: space-between;
      border: 2px solid blue;
      width: 100%;
      max-width: 100%;
      p {
        position: relative;
        border: 2px solid yellow;
        display: block;
        width: 80%;
        color: black;
        overflow: hidden;
        padding: 1rem;
        left: 22%;
      }
    }
    .__logo {
      display: block;
      border: 3px solid red;
      width: 20%;
      max-height: 100%;
      position: absolute;
      align-self: center;
      img {
        max-width: 10rem;
        object-fit: contain;
      }
    }
  }
}
