.banner {
  height: auto;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 15px;
  top: 0;
  left: 0;
  width: 100%;

  .__text_container {
    width: auto;
    animation: marquee 20s linear infinite;
    p {
      white-space: nowrap;
      color: #000;
      font-size: 2rem;
      margin: 0;
      padding: 0;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

// ############## RESPONSIVE  ###############
@media (max-width: 600px) {
  .banner {
    height: 4vh;
    padding-top: 5px;
    .__text_container {
      p {
        font-size: 1rem;
        margin: 0;
        padding: 0;
      }
    }
  }
}
